<a href="https://colab.research.google.com/github/matiassciarra/CDD-2025-TP/blob/main/ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ETL DATASET AVES**


---

tes tes

##Carga de archivo

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Montar Google Drive para acceder al archivo
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

# Ruta del archivo en Google Drive
# Asegúrate de que la ruta sea correcta. El archivo debe estar en la misma carpeta que el notebook.
file_path = '/content/drive/My Drive/dataset-2025.csv'

# Cargar el archivo CSV en un DataFrame de pandas
try:
    df = pd.read_csv(file_path, sep='\t', engine='python')
    print("Archivo cargado exitosamente.")
    print(df.head()) # Mostrar las primeras filas del DataFrame
    print(df.describe())
    print(df.info())
except FileNotFoundError:
    print(f"Error: El archivo no se encontró en la ruta especificada: {file_path}")
    print("Por favor, verifica que el archivo 'dataset-2025.csv' esté en la misma carpeta de Google Drive que este notebook.")
except Exception as e:
    print(f"Ocurrió un error al cargar el archivo: {e}")

Mounted at /content/drive
Archivo cargado exitosamente.
       gbifID                            datasetKey  \
0  5086305057  8a863029-f435-446a-821e-275f4f641165
1  5086319086  8a863029-f435-446a-821e-275f4f641165
2  5141904680  8a863029-f435-446a-821e-275f4f641165
3  5086423491  8a863029-f435-446a-821e-275f4f641165
4  5086349034  8a863029-f435-446a-821e-275f4f641165

                                    occurrenceID   kingdom    phylum class  \
0  https://observation.org/observation/340790947  Animalia  Chordata  Aves
1  https://observation.org/observation/340791048  Animalia  Chordata  Aves
2  https://observation.org/observation/348097641  Animalia  Chordata  Aves
3  https://observation.org/observation/340878845  Animalia  Chordata  Aves
4  https://observation.org/observation/340790966  Animalia  Chordata  Aves

              order         family          genus                    species  \
0  Podicipediformes  Podicipedidae     Podilymbus        Podilymbus podiceps
1    Pelecaniformes       Ardeidae          Ardea                 Ardea alba
2     Passeriformes     Tyrannidae  Muscisaxicola  Muscisaxicola maclovianus
3     Passeriformes     Tyrannidae         Xolmis              Xolmis pyrope
4     Passeriformes        Mimidae          Mimus           Mimus saturninus

   ... identifiedBy dateIdentified       license  \
0  ...          NaN            NaN  CC_BY_NC_4_0
1  ...          NaN            NaN  CC_BY_NC_4_0
2  ...          NaN            NaN  CC_BY_NC_4_0
3  ...          NaN            NaN  CC_BY_NC_4_0
4  ...          NaN            NaN  CC_BY_NC_4_0

                          rightsHolder  recordedBy typeStatus  \
0  Stichting Observation International  User 40112        NaN
1  Stichting Observation International  User 40112        NaN
2  Stichting Observation International  User 16078        NaN
3  Stichting Observation International  User 40112        NaN
4  Stichting Observation International  User 40112        NaN

  establishmentMeans           lastInterpreted mediaType  issue
0                NaN  2025-09-17T16:26:57.153Z       NaN    NaN
1                NaN  2025-09-17T16:26:57.153Z       NaN    NaN
2                NaN  2025-09-17T16:26:57.153Z       NaN    NaN
3                NaN  2025-09-17T16:26:57.153Z       NaN    NaN
4                NaN  2025-09-17T16:26:57.153Z       NaN    NaN

[5 rows x 50 columns]
             gbifID  verbatimScientificNameAuthorship  individualCount  \
count  5.152800e+04                               0.0       419.000000
mean   5.189722e+09                               NaN         4.023866
std    1.623718e+08                               NaN         9.680267
min    5.006691e+09                               NaN         1.000000
25%    5.087379e+09                               NaN         1.000000
50%    5.154030e+09                               NaN         1.000000
75%    5.231235e+09                               NaN         3.000000
max    5.761218e+09                               NaN       100.000000

       decimalLatitude  decimalLongitude  coordinateUncertaintyInMeters  \
count     51514.000000      51514.000000                   3.971500e+04
mean        -34.357284        -61.587062                   4.032222e+03
std           6.015063          3.976129                   3.034593e+04
min         -58.203000        -73.384686                   1.000000e+00
25%         -35.699167        -63.946979                   1.700000e+01
50%         -34.573359        -60.750483                   1.880000e+02
75%         -31.573200        -58.442453                   1.466000e+03
max         -22.013091        -25.449913                   1.982539e+06

       coordinatePrecision  elevation  elevationAccuracy  depth  \
count                  0.0        0.0                0.0    0.0
mean                   NaN        NaN                NaN    NaN
std                    NaN        NaN                NaN    NaN
min                    NaN        NaN                NaN    NaN
25%                    NaN        NaN                NaN    NaN
50%                    NaN        NaN                NaN    NaN
75%                    NaN        NaN                NaN    NaN
max                    NaN        NaN                NaN    NaN

       depthAccuracy           day         month     year      taxonKey  \
count            0.0  51528.000000  51528.000000  51528.0  5.152800e+04
mean             NaN     13.912436      4.339776   2025.0  4.099501e+06
std              NaN      9.019361      2.448488      0.0  2.547107e+06
min              NaN      1.000000      1.000000   2025.0  2.986000e+03
25%              NaN      6.000000      2.000000   2025.0  2.482063e+06
50%              NaN     13.000000      4.000000   2025.0  2.491862e+06
75%              NaN     21.000000      7.000000   2025.0  5.231103e+06
max              NaN     31.000000      9.000000   2025.0  1.231336e+07

         speciesKey  recordNumber  typeStatus  establishmentMeans
count  5.050000e+04           0.0         0.0                 0.0
mean   3.869393e+06           NaN         NaN                 NaN
std    2.326607e+06           NaN         NaN                 NaN
min    2.473341e+06           NaN         NaN                 NaN
25%    2.482063e+06           NaN         NaN                 NaN
50%    2.491376e+06           NaN         NaN                 NaN
75%    5.229693e+06           NaN         NaN                 NaN
max    1.134537e+07           NaN         NaN                 NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51528 entries, 0 to 51527
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gbifID                            51528 non-null  int64
 1   datasetKey                        51528 non-null  object
 2   occurrenceID                      51464 non-null  object
 3   kingdom                           51528 non-null  object
 4   phylum                            51528 non-null  object
 5   class                             51528 non-null  object
 6   order                             51528 non-null  object
 7   family                            51528 non-null  object
 8   genus                             51522 non-null  object
 9   species                           50500 non-null  object
 10  infraspecificEpithet              592 non-null    object
 11  taxonRank                         51528 non-null  object
 12  scientificName                    51528 non-null  object
 13  verbatimScientificName            51528 non-null  object
 14  verbatimScientificNameAuthorship  0 non-null      float64
 15  countryCode                       51528 non-null  object
 16  locality                          1110 non-null   object
 17  stateProvince                     51202 non-null  object
 18  occurrenceStatus                  51528 non-null  object
 19  individualCount                   419 non-null    float64
 20  publishingOrgKey                  51528 non-null  object
 21  decimalLatitude                   51514 non-null  float64
 22  decimalLongitude                  51514 non-null  float64
 23  coordinateUncertaintyInMeters     39715 non-null  float64
 24  coordinatePrecision               0 non-null      float64
 25  elevation                         0 non-null      float64
 26  elevationAccuracy                 0 non-null      float64
 27  depth                             0 non-null      float64
 28  depthAccuracy                     0 non-null      float64
 29  eventDate                         51528 non-null  object
 30  day                               51528 non-null  int64
 31  month                             51528 non-null  int64
 32  year                              51528 non-null  int64
 33  taxonKey                          51528 non-null  int64
 34  speciesKey                        50500 non-null  float64
 35  basisOfRecord                     51528 non-null  object
 36  institutionCode                   50434 non-null  object
 37  collectionCode                    50489 non-null  object
 38  catalogNumber                     50489 non-null  object
 39  recordNumber                      0 non-null      float64
 40  identifiedBy                      50322 non-null  object
 41  dateIdentified                    50322 non-null  object
 42  license                           51528 non-null  object
 43  rightsHolder                      50811 non-null  object
 44  recordedBy                        51528 non-null  object
 45  typeStatus                        0 non-null      float64
 46  establishmentMeans                0 non-null      float64
 47  lastInterpreted                   51528 non-null  object
 48  mediaType                         49035 non-null  object
 49  issue                             51151 non-null  object
dtypes: float64(14), int64(5), object(31)
memory usage: 19.7+ MB
None

##Eliminacion de valores nulo

In [ ]:
# Eliminar columnas con todos los valores nulos
df.dropna(axis=1, how='all', inplace=True)

# Eliminar columnas no útiles
df.drop(columns=['gbifID', 'datasetKey', 'occurrenceID', 'infraspecificEpithet',
                 'scientificName', 'countryCode', 'occurrenceStatus',
                 'publishingOrgKey', 'taxonKey', 'speciesKey',
                 'catalogNumber', 'identifiedBy', 'dateIdentified',
                 'license', 'rightsHolder', 'recordedBy', 'lastInterpreted',
                 'issue'], inplace=True)

# Verificar las columnas restantes y sus valores no nulos
print("DataFrame después de eliminar columnas con todos los valores nulos:")
print(df.info())

DataFrame después de eliminar columnas con todos los valores nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51528 entries, 0 to 51527
Data columns (total 23 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   kingdom                        51528 non-null  object
 1   phylum                         51528 non-null  object
 2   class                          51528 non-null  object
 3   order                          51528 non-null  object
 4   family                         51528 non-null  object
 5   genus                          51522 non-null  object
 6   species                        50500 non-null  object
 7   taxonRank                      51528 non-null  object
 8   verbatimScientificName         51528 non-null  object
 9   locality                       1110 non-null   object
 10  stateProvince                  51202 non-null  object
 11  individualCount                419 non-null    float64
 12  decimalLatitude                51514 non-null  float64
 13  decimalLongitude               51514 non-null  float64
 14  coordinateUncertaintyInMeters  39715 non-null  float64
 15  eventDate                      51528 non-null  object
 16  day                            51528 non-null  int64
 17  month                          51528 non-null  int64
 18  year                           51528 non-null  int64
 19  basisOfRecord                  51528 non-null  object
 20  institutionCode                50434 non-null  object
 21  collectionCode                 50489 non-null  object
 22  mediaType                      49035 non-null  object
dtypes: float64(4), int64(3), object(16)
memory usage: 9.0+ MB
None

In [ ]:
for columna in df.columns:
    conteo = df[columna].value_counts()
    print(f"\nConteo de valores en la columna '{columna}':")
    print(conteo)

Conteo de valores en la columna 'kingdom':
kingdom
Animalia    51528
Name: count, dtype: int64

Conteo de valores en la columna 'phylum':
phylum
Chordata    51528
Name: count, dtype: int64

Conteo de valores en la columna 'class':
class
Aves    51528
Name: count, dtype: int64

Conteo de valores en la columna 'order':
order
Passeriformes          22721
Anseriformes            4118
Charadriiformes         3285
Pelecaniformes          2642
Falconiformes           2604
Accipitriformes         2521
Columbiformes           2470
Piciformes              1607
Gruiformes              1354
Psittaciformes          1293
Apodiformes             1023
Suliformes               986
Strigiformes             964
Podicipediformes         801
Cuculiformes             616
Phoenicopteriformes      439
Coraciiformes            419
Ciconiiformes            411
Procellariiformes        374
Sphenisciformes          181
Rheiformes               169
Galliformes              161
Tinamiformes             159
Caprimulgiformes         106
Trogoniformes             56
Cariamiformes             26
Nyctibiiformes            22
Name: count, dtype: int64

Conteo de valores en la columna 'family':
family
Tyrannidae        4923
Thraupidae        4861
Anatidae          3817
Furnariidae       2943
Falconidae        2604
                  ...
Grallariidae         3
Numididae            3
Rostratulidae        3
Pelecanoididae       2
Formicariidae        2
Name: count, Length: 81, dtype: int64

Conteo de valores en la columna 'genus':
genus
Mimus           1313
Caracara        1040
Pitangus        1022
Turdus          1019
Anas             971
                ...
Leptodon           1
Piprites           1
Meleagris          1
Haplospiza         1
Phalcoboenus       1
Name: count, Length: 481, dtype: int64

Conteo de valores en la columna 'species':
species
Caracara plancus            1040
Pitangus sulphuratus        1022
Mimus saturninus             953
Zonotrichia capensis         918
Furnarius rufus              879
                            ...
Ardea pacifica                 1
Micrastur semitorquatus        1
Himantopus melanurus           1
Phalcoboenus albogularis       1
Leucocarbo albiventer          1
Name: count, Length: 831, dtype: int64

Conteo de valores en la columna 'taxonRank':
taxonRank
SPECIES       49908
GENUS          1022
VARIETY         314
SUBSPECIES      203
FORM             75
FAMILY            6
Name: count, dtype: int64

Conteo de valores en la columna 'verbatimScientificName':
verbatimScientificName
Pitangus sulphuratus              1022
Caracara plancus                  1002
Mimus saturninus                   953
Zonotrichia capensis               899
Furnarius rufus                    879
                                  ...
Terenura maculata                    1
Himantopus melanurus                 1
Buteogallus solitarius               1
Leucocarbo atriceps albiventer       1
Phalcoboenus albogularis             1
Name: count, Length: 909, dtype: int64

Conteo de valores en la columna 'locality':
locality
Ushuaia                                                     128
Ushuaia - Bahia Encerrada                                    55
Tierra del Fuego NP                                          52
Bahia Encerrada Reserva Natural urbana - Ushuaia             51
Buenos Aires - Reserva Ecologica Costanera Sur               43
                                                           ...
Buenos Aires - Aeroparque Int. Jorge Newbery                  1
Reserva ecologica costanera Sur                               1
Refugio de Vida Silvestre Marahué                             1
Berduc, Colón, Entre Ríos                                     1
Posadas, Capital Department, Misiones, Misiones Province      1
Name: count, Length: 190, dtype: int64

Conteo de valores en la columna 'stateProvince':
stateProvince
Buenos Aires                       11022
La Pampa                            8822
Santa Fe                            6511
Ciudad de Buenos Aires              4646
Entre Ríos                          3515
Misiones                            2903
Córdoba                             2160
Tierra del Fuego                    1639
Jujuy                               1096
Río Negro                            955
Formosa                              892
Catamarca                            887
Santa Cruz                           873
Neuquén                              756
Corrientes                           670
Chubut                               623
San Luis                             613
Tucumán                              509
Mendoza                              488
Autonomous City of Buenos Aires      453
Salta                                379
Chaco                                261
Santiago del Estero                  167
San Juan                             125
La Rioja                             111
Buenos Aires (Province)               63
Santa Cruz Province, Argentina        31
Paraná                                15
Tierra del Fuego Province              7
Magallanes y Antártica Chilena         5
Artigas                                2
Alto Paraná                            2
Rio Negro                              1
Name: count, dtype: int64

Conteo de valores en la columna 'individualCount':
individualCount
1.0      241
2.0       72
3.0       30
4.0       13
5.0       11
6.0        9
8.0        6
30.0       6
20.0       4
12.0       4
10.0       4
25.0       3
35.0       3
100.0      2
16.0       2
50.0       2
9.0        2
7.0        1
19.0       1
23.0       1
60.0       1
15.0       1
Name: count, dtype: int64

Conteo de valores en la columna 'decimalLatitude':
decimalLatitude
-35.659324    1186
-37.368794     477
-34.607529     390
-35.696936     245
-32.068966     226
              ...
-31.431989       1
-37.738025       1
-30.668420       1
-25.014605       1
-34.581476       1
Name: count, Length: 33822, dtype: int64

Conteo de valores en la columna 'decimalLongitude':
decimalLongitude
-63.757789    1188
-64.599867     478
-58.352207     390
-63.725560     245
-60.638297     228
              ...
-60.645600       1
-58.255581       1
-58.590727       1
-61.430647       1
-58.440906       1
Name: count, Length: 34018, dtype: int64

Conteo de valores en la columna 'coordinateUncertaintyInMeters':
coordinateUncertaintyInMeters
15.0       2025
4.0        1947
8.0        1822
31.0       1799
2.0        1735
           ...
4470.0        1
19451.0       1
1717.0        1
2156.0        1
14661.0       1
Name: count, Length: 2219, dtype: int64

Conteo de valores en la columna 'eventDate':
eventDate
2025-03-22             89
2025-03-21             61
2025-03-04             59
2025-01-26             58
2025-04-06T12:25       46
                       ..
2025-07-06T17:34:53     1
2025-02-23T19:10        1
2025-03-12T17:24        1
2025-05-07T10:33:47     1
2025-03-20T12:56        1
Name: count, Length: 41113, dtype: int64

Conteo de valores en la columna 'day':
day
1     3044
2     2805
3     2592
10    2333
4     2249
8     2070
15    1959
9     1817
19    1778
20    1769
5     1727
6     1677
18    1653
12    1643
16    1601
7     1532
11    1518
26    1441
23    1413
17    1411
22    1402
25    1360
13    1302
31    1289
28    1248
21    1247
24    1223
29    1210
14    1209
30    1039
27     967
Name: count, dtype: int64

Conteo de valores en la columna 'month':
month
1    9748
7    7630
8    6621
3    6257
5    5786
4    5645
2    5498
6    4290
9      53
Name: count, dtype: int64

Conteo de valores en la columna 'year':
year
2025    51528
Name: count, dtype: int64

Conteo de valores en la columna 'basisOfRecord':
basisOfRecord
HUMAN_OBSERVATION      51514
MACHINE_OBSERVATION       14
Name: count, dtype: int64

Conteo de valores en la columna 'institutionCode':
institutionCode
iNaturalist         50370
NABU|naturgucker       64
Name: count, dtype: int64

Conteo de valores en la columna 'collectionCode':
collectionCode
Observations               50370
NABU|naturgucker              64
Wildlife sounds - Birds       55
Name: count, dtype: int64

Conteo de valores en la columna 'mediaType':
mediaType
StillImage                                                                                                                                                                                                                                             34700
StillImage;StillImage                                                                                                                                                                                                                                   7194
StillImage;StillImage;StillImage                                                                                                                                                                                                                        3191
StillImage;StillImage;StillImage;StillImage                                                                                                                                                                                                             1458
StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                                                                                   696
Sound                                                                                                                                                                                                                                                    453
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                                                                        399
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                                                             262
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                                                  183
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                                        74
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                             64
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                                  47
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                               34
StillImage;StillImage;Sound                                                                                                                                                                                                                               28
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                                       28
Sound;StillImage;StillImage                                                                                                                                                                                                                               25
StillImage;Sound;StillImage                                                                                                                                                                                                                               22
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                            22
Sound;StillImage                                                                                                                                                                                                                                          20
Sound;Sound                                                                                                                                                                                                                                               19
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                      17
StillImage;Sound                                                                                                                                                                                                                                          17
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                           15
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                     10
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                10
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                           8
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                                                  7
Sound;Sound;Sound                                                                                                                                                                                                                                          6
StillImage;StillImage;StillImage;Sound;StillImage;StillImage;StillImage                                                                                                                                                                                    3
Sound;StillImage;StillImage;StillImage                                                                                                                                                                                                                     3
StillImage;StillImage;Sound;StillImage                                                                                                                                                                                                                     2
StillImage;Sound;StillImage;StillImage                                                                                                                                                                                                                     2
StillImage;StillImage;StillImage;Sound                                                                                                                                                                                                                     2
StillImage;Sound;StillImage;StillImage;StillImage                                                                                                                                                                                                          1
Sound;Sound;StillImage;StillImage                                                                                                                                                                                                                          1
StillImage;StillImage;Sound;Sound                                                                                                                                                                                                                          1
Sound;StillImage;Sound                                                                                                                                                                                                                                     1
StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;Sound;Sound;StillImage;StillImage;StillImage;StillImage                                                                                                                                  1
StillImage;StillImage;StillImage;Sound;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage                                                                      1
StillImage;StillImage;StillImage;StillImage;Sound;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;StillImage;Sound;StillImage;Sound;StillImage;StillImage;StillImage;Sound;StillImage;StillImage;StillImage;StillImage;StillImage        1
StillImage;StillImage;Sound;Sound;StillImage                                                                                                                                                                                                               1
Sound;StillImage;StillImage;Sound                                                                                                                                                                                                                          1
Sound;Sound;StillImage                                                                                                                                                                                                                                     1
Sound;StillImage;Sound;StillImage                                                                                                                                                                                                                          1
StillImage;StillImage;StillImage;Sound;StillImage;StillImage                                                                                                                                                                                               1
StillImage;StillImage;StillImage;StillImage;Sound                                                                                                                                                                                                          1

In [ ]:
# Eliminar columnas de reino, filo y clase (son todas iguales ya que son aves)
df.drop(columns=['kingdom', 'phylum', 'class'], inplace=True)

# Eliminar columna locality (>90% de nulos)
df.drop(columns=['locality'], inplace=True)

# Eliminar otras columnas no útiles
df.drop(columns=['basisOfRecord', 'institutionCode', 'collectionCode',
                 'mediaType'], inplace=True)

# Verificar las columnas restantes y sus valores no nulos
print("DataFrame después de eliminar columnas con todos los valores nulos:")
print(df.info())

DataFrame después de eliminar columnas con todos los valores nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51528 entries, 0 to 51527
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order                          51528 non-null  object
 1   family                         51528 non-null  object
 2   genus                          51522 non-null  object
 3   species                        50500 non-null  object
 4   taxonRank                      51528 non-null  object
 5   verbatimScientificName         51528 non-null  object
 6   stateProvince                  51202 non-null  object
 7   individualCount                419 non-null    float64
 8   decimalLatitude                51514 non-null  float64
 9   decimalLongitude               51514 non-null  float64
 10  coordinateUncertaintyInMeters  39715 non-null  float64
 11  eventDate                      51528 non-null  object
 12  day                            51528 non-null  int64
 13  month                          51528 non-null  int64
 14  year                           51528 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 5.9+ MB
None

In [ ]:
# Convertimos a datetime (maneja automáticamente el formato ISO 8601)
df["eventDate"] = pd.to_datetime(df["eventDate"], errors="coerce", utc=True)

# Creamos la columna "time" extrayendo solo el horario
df["time"] = df["eventDate"].dt.time

# Para registros sin hora, el resultado de dt.time será 00:00:00 → lo imputamos como NaT/nulo
df.loc[df["eventDate"].dt.hour.isna() | (df["eventDate"].dt.hour == 0) & df["eventDate"].dt.minute.eq(0) & df["eventDate"].dt.second.eq(0), "time"] = np.nan

# Display the first few rows with the new 'time' column
display(df[['eventDate', 'time']].head())

# Check for null values in the new 'time' column
print("\nNull values in 'time' column:")
print(df['time'].isnull().sum())

                  eventDate time
0 2025-03-09 00:00:00+00:00  NaN
1 2025-03-09 00:00:00+00:00  NaN
2 2025-03-22 00:00:00+00:00  NaN
3 2025-03-10 00:00:00+00:00  NaN
4 2025-03-09 00:00:00+00:00  NaN

Null values in 'time' column:
51528

In [ ]:
# df.to_csv('dataset-filtrado2.csv', index=False)

# Transformación de Provincias
Primero vamos a ver la cantidad de avistamientos que tenemos para cada provincia

In [ ]:

conteo = df["stateProvince"].value_counts()

print(conteo)

stateProvince
Buenos Aires                       11022
La Pampa                            8822
Santa Fe                            6511
Ciudad de Buenos Aires              4646
Entre Ríos                          3515
Misiones                            2903
Córdoba                             2160
Tierra del Fuego                    1639
Jujuy                               1096
Río Negro                            955
Formosa                              892
Catamarca                            887
Santa Cruz                           873
Neuquén                              756
Corrientes                           670
Chubut                               623
San Luis                             613
Tucumán                              509
Mendoza                              488
Autonomous City of Buenos Aires      453
Salta                                379
Chaco                                261
Santiago del Estero                  167
San Juan                             125
La Rioja                             111
Buenos Aires (Province)               63
Santa Cruz Province, Argentina        31
Paraná                                15
Tierra del Fuego Province              7
Magallanes y Antártica Chilena         5
Artigas                                2
Alto Paraná                            2
Rio Negro                              1
Name: count, dtype: int64